.h1{
    margin:10;
    color: purple;
  text-align:center;
}
.EA{
    text-align: right;
    color:darkslategrey;
}
.h2{
    margin:15;
    color:red;
    text-align:center;
}
.ad{
    margin=5;
    color:green;
    text-align:center;
}

.main {
    background-color:white;
}
.card {
    text-align:center;
    background-size:cover;
    
}
.co{
    color:rebeccapurple;
    padding-bottom:0px;
}
.ec{
    color:rebeccapurple;
    padding-top:0px ;
    padding-bottom:0px ;
}
.me{
    color:rebeccapurple;
    padding-top:0px;
    padding-bottom:0px;
}
.DS{
    color:rebeccapurple;
    padding-top: 0px;
    padding-bottom: 0px;
}
.ch{
    text-align: center;
    color: blueviolet;
}
.ph {
    text-align:left;
}
.mail{
    text-align:left;
}
.go{
    text-align: left;
}
.en{
    text-align:center;
    color:crimson;
}